# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
src/*/node_modules/

# next.js
/.next/
/out/
src/frontend/.next/
src/frontend/out/

# production
/build
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
src/backend/.env

# Backend uploads
src/backend/uploads/
src/backend/prisma/migrations/

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts